
.main{
    height: 200vh;
    margin:none;
    
    
   
}

.parent{
    border: 2px solid;  
    background-color: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    
}

.links{
    display: flex;
    margin-top: 0px;
}
h1{
    border: 2px solid;
    margin: 0px;
    height: fit-content;
    padding: 0%;
    
    
}
#box1{
    border: 2px solid;
    background-color: aqua;
    height: 100px;
    width: 100px;
  
    
    
}

#box2{
    border: 3px solid ;
    height: 70px;
    width: 70px;
    background-color: lightgreen;
}