.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ripple-button {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    width: 200px;
    height: 200px;
    font-size: 32px;
  }
  
  .ripple-button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: 
      radial-gradient(circle, #ff0000 10%, transparent 10.01%),
      radial-gradient(circle, #ff7f00 10%, transparent 10.01%),
      radial-gradient(circle, #ffff00 10%, transparent 10.01%),
      radial-gradient(circle, #00ff00 10%, transparent 10.01%),
      radial-gradient(circle, #0000ff 10%, transparent 10.01%),
      radial-gradient(circle, #4b0082 10%, transparent 10.01%),
      radial-gradient(circle, #9400d3 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  
  .ripple-button:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
  }
  