.app__navbar{
    
    background-color: blueviolet;
    display:contents;
}
.sidebar__button{
    height: 3rem;
    background-color: aqua;
    left:0px;
}

.app__navbar-container{
    background-color: darkgreen;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    height: 5rem;
    width: 100%;
}

.nav__links-container{
    background-color: aqua;
    
}
.button__links{
    background-color: black;
    padding:2px;
}
.navbar__container-button{
    color:white ;
}