body {
    font-family: sans-serif;
  }
  
  .container{
    
    
    padding: 3px;
    box-sizing: border-box;
    outline: 2px solid black !important;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .class-container{
    background-color: aqua;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  xx-large;
    border: solid black;
    border-radius: 10px;
  
  }
  